@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lemon&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth;
    list-style: none;

}

:root{
    --main-color:#17a3f4;
    --text-color:#18181c;
    --light-color:#454548;
    --background-color:#2d2a2a;
}
.top-header{
    width: 100%;
    padding: 0 9.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
}

.top-header .col-1,
.top-header .col-2{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.top-header .col-1 i{
    color: var(--main-color);
    font-size: 2.2rem;

}
.top-header .col-1 h4{
    color: var(--text-color);
    font-size: 13px;
    text-transform: uppercase;
}
.top-header .col-1 span{
    color: var(--light-color);
    font-size: 13px;
}
.top-header .col-2{
    background: var(--main-color);
    padding: 1rem 1rem;
}

.top-header .col-2 i{
    font-size: 2.7rem;
    color: var(--text-color);
}
.top-header .col-2 h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    
}
.top-header .col-2 .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #fff;
    width: 100%;
    padding: 0.9rem;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--background-color);
    padding: 1.7rem 0;
    transition: 0.4s;
    z-index: 11;

}
.header.sticky{
    padding: 1.3rem;
}

.header .logo_two{
    display: none;
}

.header .navbar ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    text-align: center;
    justify-content: center;
    position: relative;
}
.header .navbar ul li a{
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease;

}
.header .navbar ul li a:hover{
    color: var(--main-color);
}
.header .navbar ul li a.active{
    color:#17a3f4 ;
}

#menuBtn{
    display: none;
}

section{
    padding: 2rem 7.5rem;
    width: 100%;
}
.home{
    background: url(photos/back\ 2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 80vh;
}

.home .content{
    padding-top: 3rem;
}
.home .content h4{
    color: var(--main-color);
    font-size: 2.9rem;
    font-weight: 600;
    font-family: "Dancing Script", cursive;
}
.home .content h3{
    color: #fff;
    font-size: 2.9rem;
    text-transform: uppercase;
    padding-bottom: 2.6rem;
}
.home .content h1{
    color: white;
   
    font-size: 5rem;
}

.home .button{
    background: var(--main-color);
    width: 200px;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .button button{
    padding: 0.3rem 3.2rem;
    background: transparent;
    border: 2px solid #fff;
    font-size: 1.2rem;
    text-decoration: capitalize;
    color: #fff;
    cursor: pointer;
}
.home .button button:hover{
    background: darkorange;
}

.home .others{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    color: #fff;
}
.home .others .player{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .others .player i{
    font-size: 4rem;
    cursor: pointer;
    padding: 2rem;
    background: transparent;
    border-radius: 50%;
    animation: animate 4s linear infinite;
    animation-delay: 2s;
}

@keyframes animate
{
    
}
.home .others .player span{
    font-size: 1.4rem;
}
@media(max-width:991px) {
    .top-header{
        display: none;
    }

    .header{
        justify-content: space-between;
        padding: 1.7rem 0;
    }

    .header .logo_two{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;

    }
    .header .logo_two i{
        color: var(--main-color);
        font-size: 2rem;
        padding-left: 1.5rem;

    }
    .header .logo_two h2{
        font-size: 2.2rem;
        text-transform: uppercase;
    }

    #menuBtn{
        display: block;
        color: #fff;
        font-size: 2.5rem;
        padding-right: 1.5rem;
        cursor: pointer;
    }


}

.about {
    text-align: center;
    padding-top: 3.5rem;
    background: #fff;
}
.section h5{
    color: #17a3f4;
    font-size: 3.4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
.section h1{
    color: #454548;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 5rem;
    position: relative;
}
.section h1:before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 3px;
    background: #17a3f4;
}
.about .about-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.about-row .col-1{
    flex: 1 1 20rem;
}
.about-row .col-2{
    flex: 1 1 30rem;
    text-align: justify;
}

.about-row .col-1 img{
    width: 70%;
    height: 30rem;
}
.about-row .col-2 h4{
    font-size: 1.5rem;
    color: #454548;
    padding-bottom: 1.3rem;
}
.about-row .col-2 p.text{
    color: #454548;
    padding-bottom: 2.rem;
}
.about-row .col-2 .details{
    display: flex;
    gap: 1.5rem;

}
.about-row .col-2 .details .col-3{
    flex: 1 1 20rem;
}
.about-row .col-2 .details .col-3 img{
    background-color: #17a3f4;
    width: 100px;
    height: 100px;
    padding: 1rem;
    border: 5px solid #454548;
}
.about-row .col-2 .details .col-3 h3{
    font-size: 1.6rem;
    padding: 1rem 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.about-row .col-2 .details .col-3 p{
    color: var(--light-color);
    font-size: 1rem;
}

.number{
    position: relative;
}
.number .number-row{
    width: 100%;
    background: var(--text-color);
    position: absolute;
    top: -3rem;
    left: 0;
    padding: 6.5rem 7.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.number-row .num-col{
    display: flex;
    gap: 1rem;
}

.number-row .num-col .icon {
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: var(--main-color);
    padding-top: 5px;
}
.number-row .num-col .icon i{
    color: #fff;
    font-size: 1.6rem;
    border: 1px solid #fff;
    padding: 0.5rem;
}
.number-row .num-col h4{
    color: #e98706;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.number-row .num-col span{
    color: #fff;
    font-size: 2.4rem;
}

.menu{
    background-color: #fff;
    text-align: center;
    padding-top: 15rem;
    

}
.menu .menu-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu .menu-row .title{
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.menu .menu-row .title .col-1{
    border: 1px solid #fff;
    padding: 0 0.5rem;
}
.menu .menu-row .title .col-1 button{
    background: transparent;
    padding: 0.5rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.5rem 0;
    cursor: pointer;

}

.menu .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 3rem;
}

.menu .container .item{
    background: #d35757;
    text-align: justify;
    display: flex;

}
.menu .container .item .info{
    padding: 1rem 1rem;
    
}
.menu .container .item .image {
    background: var(--text-color);
    text-align: center;
    padding-bottom: 0.2rem;
    width: 40%;
    
    
    
}
.menu .container .item .image img{
    width: 100%;

}
.menu .container .item .image span{
   color: #17a3f4;
}
.menu .container .item .info h4{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #2d2a2a;
}
.menu .container .item .info p{
    color: var(--light-color);
}
.menu .menu-row .title .col-1 button.active{
    background: #17a3f4;

}
.discount {
    background: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(photos/cup\ 5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    height: 60vh;
    margin-top: 5rem;
}
.discount .disc-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    position: absolute;
    left: 0;
    top: -3rem;
    padding: 0 7.5%;
    text-align: center;
    z-index: 1;
}
.disc-row .disc-col {
    background: #17a3f4;
    text-align: center;
    padding: 0.5rem;
}
.disc-row .disc-col .details{
    border: 2px solid #fff;
    padding: 0.5rem;
    padding-bottom: 1rem;
}
.disc-row .disc-col .details h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--background-color);
    padding-bottom: 0.5rem;
}
.disc-row .disc-col .details p{
    color: #fff;
    font-weight: 400;
    padding-bottom: 1rem;
}
.disc-row .disc-col .details a{
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 1px;

}
.summer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.summer h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.summer button{
    border: 1px solid #fff;
    background: #17a3f4;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    padding: 0.4rem 1rem;
    position: relative;
    cursor: pointer;
}
.summer button::before{
    content: '';
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    background:#17a3f4;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    z-index: -1;

}
.summer button,
.summer button:hover::before{
    background: rgba(255,255,255,0.2);
}

.member{
    text-align: center;

}
.member .member-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;
}
.member-row .member-col {
    position: relative;
    background: var(--text-color);
    transition: 0.4s ease;
}
.member-row .member-col .image{
    width: 100%;
    height: 27rem;
    overflow: hidden;
    position: relative;
}


.member-row .member-col .image::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.member-row .member-col:hover .image::after{
    background: rgba(255,255,255,0.2);
}
.member-row .member-col .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;

}
.member-row .member-col:hover .image img{
    transform: scale(1.05);
}
.member-row .member-col .social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 0.5rem;
    display: none;
}

.member-row .member-col:hover .social{
    display: flex;

}
.member-row .member-col .social i{
    background: #17a3f4;
    padding: 1rem;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease;
}
.member-row .member-col .social i:hover{
    background: var(--text-color);
    color: #fff;
}
.member-row .member-col .details{
    color: #fff;
    padding: 0.5rem;
    border: 1px solid #fff;
    margin: 1rem;
}

.member-row .member-col .details h3{
    color: #17a3f4;
    font-size: 1.8rem;
    text-decoration: uppercase;
}
.member-row .member-col .details p{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.special{
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(photos/special.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.special h1.text{
    color:#fff


}
.special .special-row p{
    color: #fff;
    font-weight: 500;
    width: 700px;
}
.special .special-row .buttons{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.special .special-row .buttons .more{
    background: #17a3f4;
    width: 170px;
    height: 53px;

}
.special .special-row .buttons button{
    padding: 0.5rem 3rem;
    font-size: 1rem;
    margin-top: 0.3rem;
    background: #17a3f4;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}
.special .special-row .buttons button.read{
    background: transparent;
}
.special .special-row .buttons button.shop:hover{
    background: rgba(255,255,255,0.2);

}
.footer{
    background: var(--text-color);
    position: relative;
}
.footer .footer-row{
    display: flex;
    background: #17a3f4;
}
.footer-row .footer-col_one{
    flex: 1 1 15rem;
    text-align: center;
    padding: 0.5rem;
}
.footer-row .footer-col_one .box{
    border: 2px solid #fff;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-col_one .box .icon{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
}
.footer-col_one .box .icon i{
    font-size: 2rem;
    color: var(--text-color);

}
.footer-col_one .box .icon h2{
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    
}
.footer-col_one .box{
    color: #fff;


}
.footer-row .footer-col_two{
    flex: 1 1 45rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background: var(--text-color);
    padding-left: 3rem;
}
.footer-row .footer-col_two .col-1 h5{
    color: #17a3f4;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.footer-row .footer-col_two .col-1 span{
    display: block;
    color: #fff;
    padding-bottom: 1rem;
}
.footer-row .footer-col_two .col-1 span i{
    color: #17a3f4;
    padding-right: 0.5rem;

}
.footer-row .footer-col_two .col-1 .social{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}
.footer-row .footer-col_two .col-1 .social .box{
    background: #17a3f4;
    text-align: center;
    padding: 0.5rem;
}
.footer-row .footer-col_two .col-1 .social i{
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;

}
.footer-row .footer-col_two .col-1 .social i:hover{
    color: var(--text-color);

}
.footer-row .footer-col_two .col-1 a{
    display: block;
    color: #fff;
    padding-bottom: 0.5rem;
}
.footer-row .footer-col_two .col-1 a{
    padding-right: 0.5rem;

}
.footer-row .footer-col_two .col-1 a:hover{
    color: #17a3f4;
}
.footer-row .footer-col_two .col-1 p{
    color: #fff;
}
.footer-row .footer-col_two .col-1 .inputBox{
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.footer-col_two .col-1 .inputBox input{
    flex: 1 1 10rem;
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    font-size: 1.2rem;

}
.footer-col_two .col-1 .inputBox button{
    flex: 1 1 5rem;
    width: 100%;
    height: 40px;
    background: #17a3f4;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}
.footer-col_two .col-1 .inputBox button:hover{
    background: var(--text-color);
    color: #fff;
    border: 1px solid #fff;

}
.footer .footer_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    margin-top: 0.5rem;
    color: #fff;
    border-top: 2px solid #fff;
}
.footer .top_button{
    color: #fff;
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #17a3f4;
    text-align: center;
    font-size: 2rem;
}
.footer .top_button a{
    color: #fff;
}
.footer .top_button:hover{
    background: var(--text-color);
    border: 1px solid #fff;
}

